# {{ ansible_managed }}

driftfile {{ ntp_driftfile }}

restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict -6 ::1
{% if ansible_distribution_release == "xenial" %}
restrict source notrap nomodify noquery
{% endif %}

{% for ntp_server in ntp_servers %}
server {{ ntp_server }} iburst
{% endfor %}

{% if ansible_distribution == "CentOS" %}
includefile /etc/ntp/crypto/pw
keys /etc/ntp/keys
{% endif %}

{% if ansible_distribution == "Ubuntu" %}
statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable
{% endif %}
